body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    z-index: 2;
    position: relative;
    display: inline-block;
    max-width: 500px;
    max-height: 500px;
    transition: 1s transform ease;
}

#wrapper.centered {
    transform: translateX(155px);
}

#canvas {
    position: relative;
    right: 0;
    z-index: 1;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}

#menu {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 7px 12px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.75s linear all;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    backface-visibility: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu.centered {
    transform: rotateZ(180deg);
}

#controls {
    z-index: 1;
    position: relative;
    background-color: #EEE;
    left: -11px;
    padding-left: 11px;
    width: 310px; /* Golden rectangle */
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 1s transform ease;
}

#controls.centered {
    transform: translateX(-155px);
}

#controls .container {
    flex-grow: 1;
    overflow-y: scroll;
    visibility: visible;
    direction: rtl;
    margin-left: -30px;
    padding-left: 15px;
}

#arms {
    direction: ltr;
    visibility: visible;
    width: 100%;
}

.arm, #add {
    margin: 0 9px;
    margin-bottom: 6px;
    padding: 5px;
    border-radius: 4px;
    background-color: lightgray;
}

.arm .header {
    display: block;
}

.arm .menubar span {
    display: inline-block;
    margin-top: -2px;
    cursor: pointer;
}

.arm .menubar .remove {
    margin-left: 7px;
}

.arm .menubar .dropdown {
    transform: rotate(90deg);
    transition: all 1s ease;
    padding: 0 6px;
}

.arm .menubar .dropdown.closed {
    transform: rotate(-90deg);
}

.arm .controls {
    height: 95px;
    display: block;
    overflow: hidden;
    transition: height 1s ease;
}

.arm .controls.closed {
    height: 0;
}

.arm .controls label {
    margin-top: 3px;
    display: block;
    font-size: 14px;
}

.arm .controls label:first-of-type {
    margin-top: 6px;
}

.arm .controls input {
    width: 98%;
    margin-bottom: 4px;
}

#arms #add {
    text-align: center;
}

span.title, span.help {
    display: inline-block;
    padding: 9px 10px;
}

span.help {
    margin-top: auto;
    display: block;
    line-height: 140%;
    /* font-style: italic; */
}

input[type="checkbox"] {
    margin-right: 10px;
}

div.spacing {
    padding-bottom: 5px;
}

.left { float: left; }
.right { float: right; }
.bottom { bottom: 0; }
